[submodule "pi/picosystem/split-editor"]
	path = pi/picosystem/split-editor
	url = https://github.com/kyleqbnguyen/split-editor
[submodule "pi/picosystem/pdf-reader"]
	path = pi/picosystem/pdf-reader
	url = git@github.com:kyleqbnguyen/pdf-reader.git
[submodule "pi/picosystem/notifi"]
	path = pi/picosystem/notifi
	url = git@github.com:kyleqbnguyen/pi-notifi.git
[submodule "pi/picosystem/tex-view"]
	path = pi/picosystem/tex-view
	url = https://github.com/kyleqbnguyen/tex-view.git
