configuration { 
	modes: "drun"; 
    hide-scrollbar: true;
	show-icons: false;
	terminal: "ghostty";
	drun-display-format: "{name}";
	disable-history: true;
	kb-secondary-copy: "";
	kb-cancel: "Escape,Control+c";
    cache-dir:"~/.cache/rofi/";
    matching: "prefix";
    drun-match-fields: "name";
}

@theme "theme"
